extends ./layouts/main-layout.jade

block content

  section.about-header
    .wrap
      .title
        !{aboutData.slideHeader.description}
  
  include ./includes/mid-banner.jade
  
  +mid-banner(aboutData.midBanner)
  
  section.about.area.area-1
    // area title
    .area-title
      h3 #{aboutData.area1.title.cn}
      h3 #{aboutData.area1.title.en}
    .area-content
      .description
        //- p
        //-   |天津瑞高信息技术有限公司是一家以软件技术为核心，面向政府机关、企事业单位、医院、海 关，专注于电子政务、仓储物流、加工贸易、医疗卫生、财务预算、协同办公等领域信息化应用软 件系统整体解决方案设计、开发、系统集成信息技术服务商。
        //- p
        //-   |公司自成立以来，以"诚信、敬业、务实、创新"作为公司的经营理念，将“为客户提供一流的 产品和服务”作为目标，服务于政府部门、企业、及各类组织，并努力实现、创造自身的社会价值。
        //- p
        //-   |作为一家以软件技术为核心的公司，通过软件与服务的结合、技术与行业管理能力的结合，提 供行业解决方案和产品工程解决方案以及相关软件产品、平台及服务。我们力争凭借精湛的专业技 术、丰富的行业经验、敏锐的洞察能力和持续的创新能力，为客户提供专业化IT技术服务，帮助客 户不断完善管理体系和技术体系，实现客户价值最大化。
        //- p
        //-   |面向行业客户，我们提供安全、可靠、高质量、易扩展的行业解决方案，帮助客户实现满足需 求的信息化管理最佳实践。行业解决方案涵盖的领域包括：政府、公共事业、制造业与商贸流通业、 物流配送、医疗卫生、电子商务等行业。
        //- p
        //-   |公司在应用软件系统研发和工程服务的过程中，形成了一套完整的项目管理规范。所承建的项 目都严格地对方案设计与论证、项目进度、人员调配、资源保障、系统测试等环节进行控制，公司 还具备一支技术精湛，高效务实的软件产品研发团队，软件开发技术及理念先进，具有丰富的研发经验。 以及创新能力，为提高工作效率，防止技术故障，按期保质完成项目提供了有力的保障。 以质量求生存、以信誉求发展，诚信经营、视信誉为公司的生命，始终把顾客作为公司的上帝。 
        !{aboutData.area1.content}
  section.about.area.area-2
    // area title
    .area-title
      h3 #{aboutData.area2.title.en}
      h3 #{aboutData.area2.title.cn}
      
    .area-content
      .description
        //- p.title
        //-   |愿景/Vision 
        //- p.des
        //-   |以软件技术为支点，为社会进步与繁荣做出杰出贡献 
        //- p.title
        //-   |目标/Goals 
        //- p.des
        //-   |为客户创造价值，为员工搭建舞台 
        //- p.title
        //-   |核心价值观值观/Core Values 
        //- p.des
        //-   |有利于社会，有利于企业，有利于员工 
        //- p.des
        //-   |核心价值观是扎根于我们内心深处的核心信 念，我我们走到今天的内在动力，更要我们面向 未来的共同承诺，极致的为客户提供有效的服务。 
        //- p.title
        //-   |管理理念/Managemnt Philosophy 
        //- p.des
        //-   |持续改进、公正公平、互利共赢 
        //- p.des
        //-   |企业经营理念的过程就是不断改进的过程， 也是坚持长跑的过程；通过管理程序的公正，来 保障实体的公正；各方面共赢的局面，使我们追 求的夙愿。 
        //- p.title
        //-   |企业精神/Enterprise Spyie 
        //- p.des
        //-   |自加压力，敢于争先 
        //- p.title
        //-   |工作作风/Working Style 
        //- p.des
        //-   |诚实守信，认真负责；马上行动，坚决执行 
        !{aboutData.area2.content}
  section.about.area.area-3
    // area title
    .area-title
      h3 #{aboutData.area3.title.en}
      h3 #{aboutData.area3.title.cn}
    .area-content
      .description
        img(src=aboutData.area3.imgUrl, alt="")
