extends ./layouts/main-layout.jade

block content
  style.
    @media (min-width:1200px){
      .about-header{
        background-image:url(#{aboutData.slideHeader.bigImgUrl})
      }
    }
  section.about-header
    .wrap
      .title
        !{aboutData.slideHeader.description}
  
  include ./includes/mid-banner.jade
  
  +mid-banner(aboutData.midBanner)
  
  section.about.area.area-1
    // area title
    .area-title
      h3 #{aboutData.area1.title.cn}
      h3 #{aboutData.area1.title.en}
    .area-content
      .description
        !{aboutData.area1.content}
  section.about.area.area-2
    // area title
    .area-title
      h3 #{aboutData.area2.title.en}
      h3 #{aboutData.area2.title.cn}
      
    .area-content
      .description
        //- p.title
        //-   |愿景/Vision 
        //- p.des
        //-   |以软件技术为支点，为社会进步与繁荣做出杰出贡献 
        //- p.title
        //-   |目标/Goals 
        //- p.des
        //-   |为客户创造价值，为员工搭建舞台 
        //- p.title
        //-   |核心价值观值观/Core Values 
        //- p.des
        //-   |有利于社会，有利于企业，有利于员工 
        //- p.des
        //-   |核心价值观是扎根于我们内心深处的核心信 念，我我们走到今天的内在动力，更要我们面向 未来的共同承诺，极致的为客户提供有效的服务。 
        //- p.title
        //-   |管理理念/Managemnt Philosophy 
        //- p.des
        //-   |持续改进、公正公平、互利共赢 
        //- p.des
        //-   |企业经营理念的过程就是不断改进的过程， 也是坚持长跑的过程；通过管理程序的公正，来 保障实体的公正；各方面共赢的局面，使我们追 求的夙愿。 
        //- p.title
        //-   |企业精神/Enterprise Spyie 
        //- p.des
        //-   |自加压力，敢于争先 
        //- p.title
        //-   |工作作风/Working Style 
        //- p.des
        //-   |诚实守信，认真负责；马上行动，坚决执行 
        !{aboutData.area2.content}
  section.about.area.area-3
    // area title
    .area-title
      h3 #{aboutData.area3.title.en}
      h3 #{aboutData.area3.title.cn}
    .area-content
      .description
        img(src=aboutData.area3.imgUrl, alt="")
