extends ./layouts/main-layout.jade

block content
  include ./includes/slide-header.jade
  include ./includes/mid-banner.jade
  +slide-header(layoutData.slideHeader)
  +mid-banner(layoutData.midBanner)


  .article.area.area-1
    .area-title
      h3 #{articleData.titles.enLong}
      h3 #{articleData.titles.zhLong}
    .area-content
      .description
        !{articleData.content}
  
  if relationArticles.length !==0
    .article.area.area-2
      .area-title
        //- h3 E-government service content
        //- h3 瑞高电子政务服务内容
        h3 相关内容
      .area-grid
        .row
          -each relation in relationArticles
            .col
              a.card(href='/article/'+relation.slug)
                .content-wrap(style='background:'+relation.background)
                  h2.title-main #{relation.title}
                  p.title-sub #{relation.titles.en}
                .card-description
                  p #{relation.title}
                  p #{relation.description}
