extends ./layouts/main-layout.jade

block content
  include ./includes/slide-header.jade
  include ./includes/mid-banner.jade
  
  +slide-header(layoutData.slideHeader)  
  +mid-banner(layoutData.midBanner)
  
  // area 1:服务与方案
  section.area.area-1#area-1
    // area title
    .area-title
      h3 Services and solutions
      h3 服务与方案
    // area grid
    .area-grid
      .row
        -each article in articles
          .col
            a.card(href='/article/'+article.slug)
              .content-wrap(style='background:'+article.background)
                h2.title-main #{article.title}
                p.title-sub #{article.titles.en}
              .card-description
                p #{article.title}
                p #{article.description}
  // area 2:项目案例
  section.area.area-2#area-2
    // area title
    .area-title
      h3
        | Project case
        h3
          | 项目案例
    // nav
    ul.sub-nav
      li
        a(href='') 全部
      li
        a(href='') 海关项目
      li
        a(href='') 财务软件
      li
        a(href='') 网站制作
    // area grid
    .area-grid
      .row
        -for(var i=0;i<6;i++)
          .col
            .imgcard
    // line bar
    .line-bar
  // area 3:瑞高资讯
  section.area.area-3#area-3
    // area title
    .area-title
      h3 Cutting-edge news
      h3 瑞高资讯
    // area grid
    .area-grid
      .row
        -for(var i=0;i<6;i++)
          .col
            a.card
              .content-wrap
              .card-description
                p 新闻标题
                  p 新闻简介

  // area 4:关于瑞高
  section.area.area-4#area-4
    // area title
    .area-title
      h3 #{homeData.about.title.en}
      h3 #{homeData.about.title.cn}
    // area content
    .area-content
      .description
        .des-content
          !{homeData.about.content}
        .des-img
          img(src=homeData.about.imgUrl alt='')
  // area 5:联系我们
  section.area.area-5#area-5
    // area content
    .area-content
      .description
        .des-content
          // area title
          .area-title
            h2 #{homeData.contect.title.en}
            h2 #{homeData.contect.title.cn}
          
          !{homeData.contect.content}
        .des-img
          img(src=homeData.contect.imgUrl, alt='')
